{% extends 'admin/base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
        </tbody>
    </table>
<div class="d-flex">
    <a href="{{ path('admin_deplacement_index') }}" class="btn btn-primary pr-2">Retour a la liste</a>

    <a href="{{ path('admin_deplacement_edit', {'id': pay.id}) }}" class="btn btn-success mr-1">Modifier</a>

    {{ include('admin/deplacement/_delete_form.html.twig') }}
</div>
{% endblock %}
