
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administration</title>


    <!-- Bootstrap core CSS -->
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Vitemonvol</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('admin-users')}}">
                            <span data-feather="home"></span>
                            Clients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('admin_reservations')}}">
                            <span data-feather="file"></span>
                            Reservations
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{path('admin_circuit_index')}}">
                            <span data-feather="file"></span>
                            Circuits
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{path('admin_ville_index')}}">
                            <span data-feather="file"></span>
                            Ville
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{path('admin_deplacement_index')}}">
                            <span data-feather="file"></span>
                            Déplacements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout')}}">
                            <span data-feather="file"></span>
                            Deconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
{% block body %}{% endblock%}
        </main>
    </div>
</div>

</body>
</html>
