{% extends 'admin/base.html.twig' %}
{% block body %}

<div class="m-2">
    <h2 class="mb-2">Listes des Clients</h2>
    <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Adresse mail</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{user.id}}</th>
      <td> <img src="{{ asset('images/products/') }}{{ user.imageName }}" alt="user" class=""width=50 heigth=80></td>
      <td>{{user.prenom}}</td>
      <td>{{user.nom}}</td>
      <td>{{user.email}}</td>
      <td>{% if 'ROLE_ADMIN' in user.roles %}Admin{% else %}User{% endif %}</td>
	 <td><a href="{{path('admin_changeRole',{'id':user.id})}}" class="btn btn-success">Rendre admin</a></td>
    </tr>
   {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}